<app-nav-bar></app-nav-bar>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <h2>-->
<!--        La Gestion des appareils ici avec dernier mise à jour le: {{dernierDateMiseAJour |date: 'dd/MM/yyyy'}}-->
<!--      </h2>-->
<!--      <ul class="list-group">-->
<!--        <app-appareil *ngFor="let appareil of appareils"-->
<!--                      [nomAppareil]="appareil.nom" [statusAppareil]="appareil.status"></app-appareil>-->
<!--        &lt;!&ndash;   Allumer les appareils avec un boutons    &ndash;&gt;-->

<!--      </ul>-->
<!--      <br>-->
<!--      <button matTooltip="Enregistrer" mat-button-->
<!--              class="btn btn-success" [disabled]="!esAuthentifie" (click)="onAllumer()">-->
<!--        <mat-icon>save</mat-icon>-->
<!--      Tout Allumer-->
<!--      </button>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<router-outlet></router-outlet>
